<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a weather app.This site was created by Saurabh.It uses data from mapbox.com and weatherstack.com</p>
    </div>
    
    {{>footer}}
</body>

</html>