<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a weather app.It gives the current weather of a place.It uses data from mapbox.com (to get the latitude and longitude of a place) and weatherstack.com (to get weather data of the corresponding latitude and longitude) </p>
    </div>
    
    {{>footer}}
</body>

</html>